.fileUploadArea {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 20px 0;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;

    .dragDropArea {
        cursor: pointer;
    }

    .browseButton {
        padding-top: -2em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin: 0.03em;
        border: 0.08em solid;
        border-color: #000000;
        color: #ff4444;
        border: none;
        border-radius: 0.3em;
        cursor: pointer;

        &:hover {
            background-color: #dddddd; // Lighter shade when hovered
            text-indent: 5%;
        }
        
        &:active {
            background-color: #c0c0c0; // Darker shade when clicked
            transform: scale(0.95); // Slightly decrease the size
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); // Inner shadow for depth effect
        }
    }
}
