.fileUploadArea {
    display: flex;
    margin: 20px auto; /* Center the file upload area horizontally */
    width: 95%; /* Adjust this value as needed */
    height: 190px;
    padding: 10px;
    border: 3px dashed #ccc;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    

    &.fileSelected {
        border-color: #308830; /* Change border color to green when a file is selected */
        flex-direction: column;
    }

    &.draggingOver {
        border-color: #4a6dfb; /* Change border color to blue when dragging over */
    }

    .areaTxt {
        flex-direction: column; /* Stack items vertically */
        text-align: center;
        font-family: 'M PLUS Rounded', sans-serif;
        font-size: 20px;
    }

    .dragDropArea {
        display: block;
        cursor: pointer;
    }

    .browseButton {
        flex-direction: column; /* Stack items vertically */
        border-color: #000000;
        display: inline;
        margin-left: 5px;
        text-align: center;
        font-family: 'M PLUS Rounded', sans-serif;
        font-size: 20px;
        color: #ff4444;
        border: none;
        border-radius: 0.3em;
        cursor: pointer;
        height: 20px;
        width: 80px;

        &:hover {
            background-color: #dddddd; /* Lighter shade when hovered */
            transition: transform 0.3s ease;
        }

        &:active {
            background-color: #c0c0c0; /* Darker shade when clicked */
            transform: scale(0.95); /* Slightly decrease the size */
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Inner shadow for depth effect */
        }
    }

    #sup 
        {
            display: flex;
            flex-direction: column;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #333;
            margin-top: 1em;
            font-style: italic;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            transition: color 0.3s ease, text-shadow 0.3s ease;
    }
    p{
        display: flex;
            flex-direction: column;
            text-align: center;
            font-family: 'M PLUS Rounded', sans-serif;
            font-size: 20px;
            margin-top: 1em;
    }
}
