.sidebar {
    position: absolute; 
    padding: 0.8rem;
    border: 0.3rem solid;
    border-radius: 0.5rem;
    margin: 0.8rem;
    color: rgb(0, 0, 0);
    height: 84vh;
    width: 10%; // Corrected unit
    top: 7vh;
    left: 0vw;
    bottom: 0vh;
  }
