.textInputArea {
    textarea {
        display: flex;
        justify-content: center;
        width: 70%; /* Adjust this value as needed */
        height: 150px;
        padding: 10px;
        margin: 30px 20px; /* Center the textarea horizontally */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 0.6rem;
        resize: none;
    }
}
