.textInputArea {
    textarea {
        display: flex;
        justify-content: center;
        width: 95%;
        height: 37vh;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
        font-size: 0.6rem;
        margin-left: 0;
    }
}
