.searchbar {
    display: flex;
    align-items: left;
    justify-content: space-around;
    
    margin-bottom: 20px;
    font-family: M PLUS Rounded;
    font-size: 0.7rem;
    padding: 0.15em 0.15em;

    input {
        flex-grow: 1;
        border: 0.1rem solid #828282;
        border-radius: 0.3rem ;
        margin-right: 10px;
        padding: 0.1rem 0.1rem;
    }

    button {
        background-color: #007bff;
        border: none;
        padding: 0.1rem 0.3rem;
        border-radius: 0.3rem ;
        color: white;
        margin-left: -0.5rem;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }
}