.header {
    display: flex;
    justify-content: center;
    position: relative;

    padding: 0.8rem;
    border: 0.3rem solid;
    border-radius: 0.5rem ;
    margin: 0.8rem ;

    text-align: right;
    color: rgb(0, 0, 0); /* You can adjust the text color as needed */
    font-family: M PLUS Rounded;
    font-size: 1.7rem;
    font-weight: bold;  
  }

  .importButton {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
  }

  .header_text{
    text-align: center;
  }

 