.header {
  background-color: #4a50fbdd;//#4a6dfb;
  height: 50px;
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  padding: 0 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  //width: 100%;
}

.header_logo {
  display: flex; /* Use flex container to align logo and text */
  align-items: center; /* Center items vertically */
}

.logo {
  width: 30px;
  margin-left: 10px; /* Add margin to separate the logo and text */
  margin-right: -12px;
}

.header_text {
  color: #fff;
  font-family: 'M PLUS Rounded', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: right;
  margin-left: auto; /* Push text to the left */
}
.menu-icon {
  font-size: 1.5em; /* Adjust the font size as needed */
  color: #ecf0f1; /* Icon color */
  cursor: pointer;
  //font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  margin-right: auto;
  &:hover {
    transform: scale(1.1); /* Scale the icon on hover */
  }
}

