.graphView {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 95%; /* Initial width excluding sidebar */
    padding: 0.8rem;
    border: 0.2rem solid;
    border-radius: 0.0rem;
    margin: 10px auto; /* Center the component horizontally */
    color: rgb(241, 38, 38);
    height: 85vh;
    transition: width 0.01s ease; /* Change transition property to width */
  }
  
  /* Adjust width when the sidebar is open */
  .app.sidebar-open .graphView {
    position: relative;
    left: 200px;
    width: calc( 95% - 200px); /* Adjusted width when sidebar is open (adjust as needed) */
    margin-left: 20px;
    margin-right:10px;
    color: blue;
  }
  