.graphView {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 95%; /* Initial width excluding sidebar */
    padding: 0.8rem;
    border: 0.1rem solid;
    border-radius: 0.0rem;
    margin: 20px auto; /* Center the component horizontally */
    margin-bottom: 0;
    color: rgb(241, 38, 38);
    height: 85vh;

 }

  /* Adjust width when the sidebar is open */
  .app.sidebar-open .graphView {
    position: relative;
    display: block;
    width: calc( 95% - 200px); /* Adjusted width when sidebar is open (adjust as needed) */
    left: 200px;
    margin-left: 20px;
    margin-right:20px;
    color: blue;
  }
  